{% extends "layout_sidebar.html" %}

<!--Title for tab-->
{% block title %}{{ file_data.pageTitle }}{% endblock %}
<!--css files from asset folder-->
{% block path %}{{file_data.assetPath}}{% endblock %}
<!--dark or lite mode-->
{% block mode %}
{{ file_data.mode }}
{% endblock %}

<!--pass info.yaml details to layout through all the pages-->
{% block h_img %}
{{ info.h_img }}
{% endblock %}

{% block linkedin %}
{{ info.linkedin }}
{% endblock %}

{% block github %}
{{ info.github }}
{% endblock %}

{% block instagram %}
{{ info.instagram }}
{% endblock %}

{% block footer_name %}
{{ info.footer_name }}
{% endblock %}


{% block content %}
    <h1 id="page_heading">{{file_data.pageTitle}}</h1>

<div class="container-fluid" style="padding-top: 30px;">
<div class="row">
    <div class="col-3" style="padding-right: 10px;">

      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col" style="text-align: center;">
              {{file_data.pageTitle}}
            </th>
          </tr>
        </thead>

        <tbody>
        {% for heading, _ in contents.items() %}
        <tr>
          <td>
            <a href="#{{heading}}" id="post_title_link"> {{ heading }} </a>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    </div>

    <div class="col-9" style="padding-left: 20px;">
      <div style="color: white; font-family:Verdana, Geneva, Tahoma, sans-serif ;" >
        {% for heading, content in contents.items()%}
        <div id="{{heading}}">
          <h2>{{heading }}</h2>
          {{ content }}
        </div>
          <!--loop.last return true if it is the last iteration-->
          {% if not loop.last %}
          <div id="back_to_top">
            <a  href="#page_heading"> BACK TO TOP &UpArrow; </a>
          </div>
          <hr id="blog_hr">
          {% endif %}
        {% endfor %}
      </div>
      <hr>
    </div>
</div>
</div>

{% endblock %}