{% extends "layout.html" %} 

<!--Title for tab-->
{% block title %}{{ file_data.pageTitle }}{% endblock %}
<!--css files from asset folder-->
{% block path %}{{file_data.assetPath}}{% endblock %}

<!--pass info.yaml details to layout through all the pages-->

{% block linkedin %}
{{ info.linkedin }}
{% endblock %}

{% block github %}
{{ info.github }}
{% endblock %}

{% block instagram %}
{{ info.instagram }}
{% endblock %}

{% block footer_name %}
{{ info.footer_name }}
{% endblock %}


{% block content %}


 <!--page title-->
<h1 id="page_title">CHEATSHEETS</h1>
  <!--for padding in full screen-->
<div class="container-fluid" id="cheatsheet-container">

  <!-- Grid system starts -->
  <div class="row mt-5">

    <!--left side-->
    <div class="col-3"  id="menu-table">

      <table class="table table-light table-striped">
        <thead >
          <tr>
            <th scope="col">
              CHEATSHEET
            </th>
          </tr>
        </thead>
        <tbody>
          {% for content in categories %}
            <tr>
              <td>
                <a href="#{{content}}" id="post_title_link">{{content}}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

    <!--right side-->
    <div class="col-9" id="post_content">
      {% for heading, contents in categories.items() %}
      <!-- 2 ids. one is for style and another is for link-->
      <h2 class="display-7" id="blog_year {{heading}}"> {{heading}} </h2>

      <div class="row row-cols-1 row-cols-md-4 g-2">
        {% for content in contents %}
          <!--bg of card is same as the bg of page-->
          <div class="col me-5 mb-3 shadow">
            <!--div for - image and title link-->
            <div id="post_img_link">
              <div class="card">
                <a href="cheatsheets/{{content.permalink}}.html">
                  <img src="assets/cheatsheets/{{content.image}}" class="card-img-top" alt="{{content.title}}">
                </a>
              </div>
              <h4 id="post_title">
                <a href="cheatsheets/{{content.permalink}}.html" id="post_title_link">{{content.title}}</a>
              </h4>
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- loop.last return true if it is the last iteration -->
        {% if not loop.last %}
          <div id="back_to_top">
            <a  href="#page_title"> BACK TO TOP &UpArrow;</a>
          </div>
          <hr id="blog_hr_line">
        {% endif %}

      {% endfor %}
    </div>

  </div>

</div>

{% endblock %}
 