{% extends "layout.html" %}

{% block navbar%}
<li class="nav-item active">
  <a class="nav-link " aria-current="page" href="index.html">Home</a>
</li>
<li class="nav-item active">
  <a class="nav-link " aria-current="page" href="#">Blog</a>
</li>
<li class="nav-item active">
  <a class="nav-link " aria-current="page" href="pages/work.html">Works</a>
</li>
<li class="nav-item active">
  <a class="nav-link " aria-current="page" href="pages/about.html">About</a>
</li>
{% endblock %}

{% block content %}
<div>   
    <!--name shows only in index(home) page, for post it shows post title-->
    <p style="margin-top: 10px;margin-bottom: 30px; text-align: center; font-style: italic; color: #555555;">Fahim</p>

    <!--Page name-->
    <div class="pt-4" id="page_heading">
      <h1>
        Home
      </h1>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for post in posts %}
          <div class="col">
            <div class="card" style="margin: 30px;">
              <img src="assets/{{ post.image }}" class="card-img-top" alt="{{ posts.image }}">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="posts/{{ post.permalink }}.html">{{ post.title }}</a>
                </h5>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}