{% extends "layout.html" %} 

<!--Title for tab-->
{% block title %}{{ file_data.pageTitle }}{% endblock %}
<!--css files from asset folder-->
{% block path %}{{file_data.assetPath}}{% endblock %}

<!--pass info.yaml details to layout through all the pages-->
{% block mode %}
{{ file_data.mode }}
{% endblock %}

{% block h_img %}
{{ info.h_img }}
{% endblock %}

{% block linkedin %}
{{ info.linkedin }}
{% endblock %}

{% block github %}
{{ info.github }}
{% endblock %}

{% block instagram %}
{{ info.instagram }}
{% endblock %}

{% block footer_name %}
{{ info.footer_name }}
{% endblock %}


{% block content %}
<div>   
    <!--name shows only in index(home) page, for post it shows post title-->
    <p id="profile_name">
      {{ info.nick_name }}
    </p>

    <!--Page name-->
    <div class="pt-4" id="page_heading">
      <h1>
        {{ file_data.pageTitle }}
      </h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in posts %}
          <div class="col">
        <!--div for - image and title link-->
            <div id="post_img_link">
              <div class="card">
                <!--when using file_data.assetPath we can reach to root file, so we can add absolute path-->
                <a href="{{file_data.assetPath}}/{{file_data.filePath}}/{{ post.permalink }}.html">
                  <img src="{{file_data.assetPath}}/assets/{{file_data.filePath}}/{{ post.image }}" class="card-img-top" alt="{{ post.image }}">
                </a>
              </div>
              <h4 id="post_title">
                <a href="{{file_data.filePath}}/{{ post.permalink }}.html" id="post_title_link">{{ post.title }}</a>
              </h4>
              </div>
            </div>
        {% endfor %}
          </div>
    </div>
</div>
{% endblock %}