<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% block path %}{% endblock %}/assets/_css/style_lite.css">
    <!-- For slider under resent section-->
    <link rel="stylesheet" href="{{ self.path() }}/assets/_css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ self.path() }}/assets/_css/owl.carousel.min.css">
    <!--for carousel icon theme-->
    <link rel="stylesheet" href="{{ self.path() }}/assets/_css/owl.theme.default.min.css">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="menu_text">
        Menu
      <span class="navbar-toggler-icon" id="menu_icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!--mx auto to align it center-->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
        <li class="nav-item  active">
          <a class="nav-link" aria-current="page" href="{{ self.path() }}/index.html">Home</a>
        </li>
        <li class="nav-item  active">
          <a class="nav-link" aria-current="page" href="{{ self.path() }}/about.html">About</a>
        </li>
        <li class="nav-item  active">
          <a class="nav-link" aria-current="page" href="{{ self.path() }}/blog.html">Blog</a>
        </li>
        <li class="nav-item  active">
          <a class="nav-link" aria-current="page" href="{{ self.path() }}/projects.html">Projects</a>
        </li>
      </ul>

    </div>
  </div>
</nav>


    {% block content %}{% endblock %}

  <!-- SCRIPTS - For owl cursor action-->
  <!--script for social media icon-->
  <script src="https://kit.fontawesome.com/e1342e9a0c.js" crossorigin="anonymous"></script>
  <script scr="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/um/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src=" {{ self.path() }}/assets/_js/bootstrap.min.js"></script>
  <script src=" {{ self.path() }}/assets/_js/owl.carousel.min.js"></script>
  <script src=" {{ self.path() }}/assets/_js/my_script.js"></script>

<!--footer-->
<footer id="main_footer">
  <a href="{% block linkedin %}{% endblock %}" target="_blank"><i class="fab fa-linkedin"></i></a>
  <a href="{% block github %}{% endblock %}" target="_blank"><i class="fab fa-github-square"></i></a>
  <a href="{% block instagram %}{% endblock %}" target="_blank"><i class="fab fa-instagram-square"></i></a>
  <p> &copy; 2021 {% block footer_name %}{% endblock %} </p>
</footer>

</body>
</html>