<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fahim</title>
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/style.css">

    <!--script for social media icon-->
    <script src="https://kit.fontawesome.com/e1342e9a0c.js" crossorigin="anonymous"></script>
    <!--Script for dropdown menu list when collaps -Responsice -toggler -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>

<body>
    <!--Main container - whole page-->
    <div class="container-md" id="main_container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary mx-auto" style="margin-bottom: 50px; border-radius: 5px;">
        <div class="container">
            <!-- button - for responsive collapse, id should match ie to put the pages in the drop down list-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--mx-auto - to align center-->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                    {% block navbar %} {% endblock %}
                </ul>
          </div>
        </div>
    </nav>
    <!--image-->
    <div class="container card" style="width: 10rem;">
        <img src="assets/fahim.jpg"class="card-img-top" alt="img">
    </div>

    {% block content %} {% endblock %} 
</div>
<!--footer-->
<footer id="main_footer">
  <hr>
  <a href="https://www.linkedin.com/in/fahim-asharaf-b10433a2/" target="_blank"><i class="fab fa-linkedin"></i></a>
  <a href="https://github.com/fahimkk" target="_blank"><i class="fab fa-github-square"></i></a>
  <a href="https://www.instagram.com/fahimasharaf/" target="_blank"><i class="fab fa-instagram-square"></i></a>
  <p>&copy; 2021 Fahim kk</p>
</footer>

</body>
</html>