{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="../assets/bootstrap.min.css">
<link rel="stylesheet" href="../assets/style_{{ page.mode }}.css">
{% endblock %}

{% block navbar%}
<li class="nav-item active">
  <a class="nav-link " aria-current="page" href="../index.html">Home</a>
</li>
<li class="nav-item active">
  <a class="nav-link " aria-current="page" href="#">Blog</a>
</li>
<li class="nav-item active">
  <a class="nav-link " aria-current="page" href="work.html">Works</a>
</li>
<li class="nav-item active">
  <a class="nav-link " aria-current="page" href="about.html">About</a>
</li>
{% endblock %}

{% block profile_img%}
<img src="../assets/fahim.jpg" class="rounded-circle" alt="img" width="150px">
{% endblock %}

{% block content %}
    <div class="pt-4" id="page_heading">
        <h1>{{ page.title }}</h1>
    </div>
    <div id="page_content">
        {{ page.content }}
    </div>
{% endblock %}