{% extends "layout.html" %}

<!--css files from asset folder-->
{% block path %}..{% endblock %}

<!--pass info.yaml details to layout through all the pages-->
{% block h_img %}
{{ info.h_img }}
{% endblock %}

{% block linkedin %}
{{ info.linkedin }}
{% endblock %}

{% block github %}
{{ info.github }}
{% endblock %}

{% block instagram %}
{{ info.instagram }}
{% endblock %}

{% block footer_name %}
{{ info.footer_name }}
{% endblock %}


{% block content %}
<!--Post title -->
<div id="post_heading">
    <h1 class="display-4">{{ post.title }}</h1>
</div>
<!--Start Grid System-->
<div class="row" >
<!--left side - profile details-->
  <div class="col-3" id="details">
    <img src="../assets/{{ info.p_img }}" class="rounded-circle" alt="img" width="100px">
    <h6><small>{{ info.name }}</small></h6>
    <a href="{{ info.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="{{ info.github }}" target="_blank"><i class="fab fa-github-square"></i></a>
    <a href="{{ info.instagram }}" target="_blank"><i class="fab fa-instagram-square"></i></a>
    <p id="time_date">
      {{ post.time }}
      <br>
      {{ post.date }}
    </p>
    <p id="cat">
      CATEGORIES
      <br>
      Technical
    </p>
    <p id="cat">
      TAGS
      <br>
      {{ post.tags }}
    </p>
  </div>
<!--right side - post content-->
  <div class="col-9" id="post_content">
      {{ post.content }}
  </div>
    {% endblock %}
  </div>
