/*MODE: dark*/

@media(max-width:992px){
  #details{
    display: none;
  }
  #navbar{
    width: 100%;
  }
  #post_content{
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media(min-width:992px){
  #navbar{
    height: 40px;
    width: 300px;
  }
  #main_container{
    padding-left: 70px;
    padding-right: 70px;
  }
  #post_content{
    padding-left: 80px;
  }
}

/* layout template */
/*color white*/
#bg{
  background-color:#252A34;
}
#main_container{
padding-bottom: 50px;
}
#navbar{
margin-bottom: 30px;
border-radius: 5px;
}
#menu_icon{
width:0;
height: 0;
}
#menu_text{
}
/* color: #b3aeae;*/
#menu_text:hover{
  color: #b3aeae;
}
#profile_img{
  text-align: center;
}
#post_img_link{
  text-align: center;
  margin-top: 20px;
  margin-right: 30px;
}
#post_title{
  text-align: left;
  padding-top: 8px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-style: italic;
}
/*color white*/
#post_title_link{
  text-decoration: none;
  color: white;
}
#post_title_link:hover{
color: #2B8388;
}

/*color white*/
#main_footer{
text-align: center;
font-size: small;
font-family: Arial, Helvetica, sans-serif;
padding-bottom: 30px;
color: white;
}
/*color white*/
#main_footer hr{
  height: 3px;
  color: white;
}
#main_footer i{
font-size:xx-large;
padding: 5px;
padding-top: 20px;
color: #2B8388;
}
#main_footer i:hover{
  color: #095053;
}

/*-----------------------------*/
/* color white*/
#profile_name{
margin-top: 10px;
margin-bottom: 30px;
text-align: center;
font-style: italic;
color: white;
}
/*-----------------------------*/
/* page template */
/*color white*/
#page_heading{
font-style:italic; 
letter-spacing: 0.1em; 
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-weight:bold;
color: white;
}
/*color white*/
#page_content{
color: white;
}

/*-----------------------------*/
/* post template */
/*color white*/
#post_heading{
text-align: left; 
/*padding: top right bottom left*/
  /*77777777777777777777777777777777777*/
padding:50px 0px 20px 0px;
font-family: 'Times New Roman', Times, serif;
font-style: italic;
color: white;
}
.display-4{
  font-weight: 600;
}
/*color white*/
#post_content{
color: white;
}

#details{
  /*77777777777777777777777777777777777*/
padding-left: 40px;
text-align: center;
}
#details i{
  color: #b3aeae;
  font-size: larger;
  padding-right: 8px;
}
#details i:hover{
  color: #555555;
}
/*color white*/
#details h6{
  padding-top: 15px;
  padding-bottom: 0px;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.06em;
  color: white;
}
/*Categoreis*/
/*color white*/
#cat{
  padding-top: 10px;
  font-size: 3mm;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .01em;
  font-weight: 500;
  color: white;
}
/*color white*/
#time_date{
  padding-top: 20px;
  font-size: 3mm;
  font-style: italic;
  color: white;
}

/*================================================*/
/*Blog page*/
#blog_time_date{
  padding-top: 5px;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 3.5mm;
  font-style: italic;
  color: white;
}

#blog_hr{
  height: 3px;
  color: white;
}
#blog_year{
  color: white;
}
.display-7{
  font-weight: bold;
}
#back_to_top{
  text-align: right;
}
#back_to_top a{
  text-align: right;
  font-size: 12px;
  text-decoration: none;
  color: white;
}
#back_to_top a:hover{
  color: #2B8388;
}